.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #20473C;
  /* Lighter Green */
  background-image: url('/bg-texture.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

/* Ensure overlap */
.intro-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  /* Keep Intro on top during exit */
  pointer-events: none;
  /* Let clicks pass through if needed, but buttons need pointer events */
}

/* Re-enable pointer events for children */
.intro-wrapper>* {
  pointer-events: auto;
}

.game-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  /* Game behind */
}